.recipeTitle-container {
    padding: "auto";
    display: "grid";
    grid-template-columns: 75% 25%;
}

.recipeTitleLeft {
    text-align: left;
    grid-column: 1;
}

.recipeTitleRight {
    text-align: right;
    grid-column: 3;
}

.ingredients-container {
    display: grid;
    grid-template-columns: 2% 3% 30% 5% 55%;
    grid-auto-rows: minmax(40,auto);
    column-gap: 5px;
}

.ingredient-group {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 6;
}

.ingredient-group-name {
    grid-column: 2 / 6;
}

.ingredient-item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 3/6;
}

.ingredient-description {
    grid-column: 1;
}

.ingredient-amount {
    grid-column: 2;
    text-align: right;
}

.ingredient-unit {
    grid-column: 3;
    text-align: left;
}

.loading {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}